{% extends "base.html" %} 
{% block title %}Gardens{% endblock title%}
{% block head%}
<!-- Data Table -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
{% endblock%}
{% block content %}
            <br><br>
            <div class="card wow fadeInRight" data-wow-delay="0.3s">
              <div class="card-header">
                <div class="container">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8">
                    <h1 style="text-align:center">Garden Management System</h1>
                    <div class="container">
                      {% with messages = get_flashed_messages(with_categories=true) %}
                         {%if messages %}
                              {%for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                   <h4 style="text-align:center;">{{ message }}</h4>
                                </div>
                              {%endfor%}
                        {%endif %}
                      {%endwith%}
                    </div>
                  </div>
                  <div class="col-sm-2"></div>
                </div>
              </div>
              <div class="card-body">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <div >
                    <h3 style="display: inline-block;margin:0;"> Plant or Garden Locations Managment</h3>
                    <button type="button" class="btn btn-add" data-toggle="modal" data-target="#exampleModal">
                      <span class="btn-icon-add"><i class="glyphicon glyphicon-plus"></i></span>Add Location</button>
                  </div>
                  <!-- Modal code-->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:150px;">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="exampleModalLabel">Add Location</h3>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form  action="" method="post">
                          <div class="modal-body">
                          
                              {{ form.csrf_token() }}
                              {{ form.locname.label(class="form-control-label")}}<br>
                              {{ form.locname(class="form-control form-control-lg")}}
                              {{ lform.editlocarea.label(class="form-control-label")}}<br>
                              {{ lform.editlocarea(class="form-control form-control-lg")}}
                              {{ lform.editloclat.label(class="form-control-label")}}<br>
                              {{ lform.editloclat(class="form-control form-control-lg")}}
                              {{ lform.editloclon.label(class="form-control-label")}}<br>
                              {{ lform.editloclon(class="form-control form-control-lg")}}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <div >
                              {{ form.locsubmit(class="btn btn-primary") }}
                           </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!--end of modal design-->
                  <table id="proxies" class="table table-sm">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Total Space</th>
                        <th>Latitude</th>
                        <th>Longitude</th>                        
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for d in details %}
                      <tr>
                        <td>{{d.loc_id}}</td>
                        <td>
                          <a href="{{ url_for('main.locstatCard', p_id = d.loc_id, loc =d.loc_name, tspace=d.loc_area) }}">
                          <button type="button" class="btn btn-primary">
                          <span class="btn-icon"><i class="glyphicon glyphicon-zoom-in"></i></span>{{d.loc_name}}</button></a>
                        </td>
                        <td>{{d.loc_area}}</td>
                        <td>{{d.lat}}</td>
                        <td>{{d.lon}}</td>
                        <td>
                            <button type="button" class="btn btn-edit" data-toggle="modal" data-target ="#edit{{d.loc_id}}">
                            <span class="btn-icon"><i class="glyphicon glyphicon-pencil"></i></span>Edit</button>
                        </td>
                         <td>
                            <a href="{{ url_for('main.delete', p_id = d.loc_id,type ='location' )}}">
                             <button type="button" class="btn btn-delete">
                             <span class="btn-icon"><i class="glyphicon glyphicon-trash"></i></span>Delete</button></a>
                         </td>
                      <!--editmodal-->
                        <div class="modal fade" id="edit{{d.loc_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:150px;">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel">Edit Location</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <form  action="" method="POST" id="">
                                <div id="modal-cont" class="modal-body" >
                                  
                                    <input type="hidden" name="locid" value="{{d.loc_id}}"/>
                                    <input type="hidden" name="locname" value="{{d.loc_name}}"/>
                                    {{ lform.csrf_token() }}
                                    {{ lform.editlocname.label(class="form-control-label")}}<br>
                                    {{ lform.editlocname(class="form-control form-control-lg",placeholder=d.loc_name) }}
                                    <input type="hidden" name="locarea" value="{{d.loc_area}}"/>
                                    {{ lform.editlocarea.label(class="form-control-label")}}<br>
                                    {{ lform.editlocarea(class="form-control form-control-lg",placeholder=d.loc_area) }}
                                    <input type="hidden" name="loclat" value="{{d.lat}}"/>
                                    {{ lform.editloclat.label(class="form-control-label")}}<br>
                                    {{ lform.editloclat(class="form-control form-control-lg",placeholder=d.lat) }}
                                    <input type="hidden" name="loclon" value="{{d.lon}}"/>
                                    {{ lform.editloclon.label(class="form-control-label")}}<br>
                                    {{ lform.editloclon(class="form-control form-control-lg",placeholder=d.lon) }}
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <div >
                                    {{ lform.editlocsubmit(class="btn btn-primary") }}
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                <!--editmodal end-->
                      </tr>
                {% endfor %}
                    </tbody>
                  </table>
                </div>
              <div class="col-sm-2"></div>
            </div>
          </div>
          <br><br>
{% endblock content %}

{% block footer %}
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  
  <script type="text/javascript">
    $(document).ready(function () {
      $('#proxies').dataTable();
    });
  </script>

{% endblock %}
